body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*background-image: url("https://24.media.tumblr.com/a5cebd53a2da15c440689f86682defa2/tumblr_n4lg7uRGws1sfr9w3o1_500.gif");*/
}

#quiz-container {
    text-align: center;
}

#question-container {
    margin-bottom: 20px;
}

#choices-container {
    display: flex;
    justify-content: space-around;
}

.choice-btn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}






