body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover; /* Ensure the background covers the entire viewport */
    transition: background-image 0.5s ease; /* Add a smooth transition effect */
}

#start-container {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column; /* Adjusted to a column layout */
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#start-title,
#start-button {
    margin-top: 20px; /* Adjust the margin as needed */
    text-align: center; /* Center the text within the button */
}

#start-title {
    font-weight: bolder;
}

.choice-btn,
#start-new-game-button,
#start-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}


#start-button:hover {
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3);
    background-color: rgb(72, 0, 72); /* Change the background color on hover */
    color: white; /* You may adjust the text color for better visibility */
}


.start-description {
    text-align: center; /* Center the text within the h4 element */
    padding: 0 20px; /* Add padding to the top and bottom, adjust as needed */
    font-weight: lighter;
}

#quiz-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column; /* Adjusted to a column layout */
    padding: 30px;
}


#question-container {
    margin-bottom: 20px;
}

#choices-container {
    display: flex;
    justify-content: space-around;
}

.choice-btn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}






